# IntelliJ / Android Studio
*.iml
.idea/
.gradle/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Dart
.dart_tool/
.pub-cache/

# Android
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Local files
local.properties
.DS_Store

# Logs
*.log
build_log.txt

# Node / React
node_modules/
npm-debug.log*
package-lock.json

# Archives
*.zip
*.rar
*.7z

# Environment
.env
.env.*
# Vite Build
dist/

# Vercel
.vercel/

# Firebase
.firebase/

# Cache
.vite/